.header {
    background: var(--gray-800);
    display: flex;
    justify-content: center;
    height: 80px;
    padding: 1.25rem;
}

.header img {
    height: 2rem;
}

.header strong {
    margin-top: 0.5rem;
} 